body {
    text-align: left;
    background-color: ghostwhite;

}

button {
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
button.right {
    position:absolute;
}
button.index {
    position: fixed;
    bottom: 0.1%;
    right: 0.1%;
    background-color: white;
}