@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@font-face {
    font-family: Oswald;
    src: url(../fonts/Oswald-Regular.woff2);
}
@font-face {
    font-family: Belarus;
    src: url(../fonts/Belarus.woff2);
}
@font-face {
    font-family: Audiowide;
    src: url(../fonts/Audiowide.woff2);
}
@font-face {
    font-family: Quicksand;
    src: url(../fonts/Quicksand.woff2);
}

body {
    text-align: left;
    background-color: ghostwhite;
}



button, .right {
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    cursor: pointer;
    margin: 4px;
    font-family: Ubuntu, Roboto, sans-serif;
}

button.about {
    background-color: white;
    position:fixed;
    bottom: 0.4%;
    left:0.4%;
}

p {
    margin: 0 16px 3px;

}


button.index {
    position: fixed;
    bottom: 0.1%;
    right: 0.1%;
    background-color: white;
}