@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

button {
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    cursor: pointer;
    margin: 4px;
    font-family: Ubuntu, Roboto, sans-serif;
}

p {
    margin: 0 16px 3px;

}

button.ads {
    background-color: black;
    color: black;
}

button.about {
    background-color: white;
    position:fixed;
    bottom: 0.4%;
    left:0.4%;
}

button.source {
    background-color: antiquewhite;
    position:fixed;
    bottom: 0.4%;
    right:0.4%;
}

/* .ko-fi {
    position: fixed;
    top: 0.4%;
    right: 0.4%;
} */